<div class="container-fluid">
  <div class="jumbotron">
    <div class="info">
      <div class="head-image">
        <img src="<%= image_path 'bg.jpg'  %>">
      </div>
      <h1 class="introduce">Just Coding For Fun</h1>
    </div>
  </div>
  <% @posts.each_with_index do |post, index| %>
  <div class="panel">
    <div class="panel-body">
      <% if post.id != 1 %>
        <div class="media">
          <div class="media-body">
            <time class="date">
              <span><%= post.created_at.to_date %></span>
            </time>
            <h2 class="media-heading"><%= link_to post.title, post %></h2>
            <p class="media-content"><%= post.info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="panel">
    <div class="panel-body extend">
      <h2>更多链接</h2>
      <ul>
        <li>
          <a href="http://weibo.com/ripdent">新浪微博</a>
        </li>
        <li>
          <a href="https://www.facebook.com/ripdent">脸书</a>
        </li>
      </ul>
      <h2>联系方式  </h2>
      <a href="mailto:ripdent@hotmail.com" rel="nofollow">ripdent@hotmail.com</a>
    </div>
  </div>
</div>
