<% provide(:title, '手机摄影') %>
<div class="container">
  <div class="image-panel">
    <img src="https://c1.staticflickr.com/6/5664/30832454805_d67a2e2bc1_o.jpg" width="800" height="800" alt="IMG_20161025_173002R">
    <img src="https://c1.staticflickr.com/6/5813/30715717632_886bbab784_o.jpg" width="800" height="800" alt="IMG_20160915_122221R_1">
    <img src="https://c1.staticflickr.com/6/5727/30795737636_56552f0e73_h.jpg" width="1200" height="1600" alt="IMG_20151124_121024_1">
    <img src="https://c1.staticflickr.com/6/5491/30832496805_8a7d7de235_h.jpg" width="800" height="800" alt="IMG_20151215_191639">
  </div>

</div>
