<!-- <div class="container-fluid">
  <div class="jumbotron">
    <div class="info">
      <div class="head-image">
        <img src="<%= image_path 'bg.jpg'  %>">
      </div>
      <h1 class="introduce">Just Coding For Fun</h1>
    </div>
  </div>
  <% @posts.each_with_index do |post, index| %>
  <div class="panel panel-pretty">
    <div class="panel-body">
      <% if post.id != 1 %>
        <div class="media">
          <div class="media-body">
            <time class="date">
              <span><%= post.created_at.to_date %></span>
            </time>
            <h2 class="media-heading"><%= link_to post.title, post %></h2>
            <p class="media-content"><%= post.info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div> -->
