<div class="container">
  <% provide(:title, 'Posts') %>
  <% @posts.each do |post| %>
  <div class="panel panel-pretty">
    <div class="panel-body">
      <% if post.id != 1 %>
        <div class="media">
          <div class="media-body">
            <time class="date">
              <span><%= post.created_at.to_date %></span>
            </time>
            <h2 class="media-heading"><%= link_to post.title, post %></h2>
            <p class="media-content"><%= post.info %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
  <div class="panel pagination">
    <%= will_paginate @posts, :container => false %>
  </div>
</div>
