<div class="container mgto20" style="height: 81.7vh">
  <div class="panel shadow" >
    <div class="panel-body tagcloud">
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, { :action => :index, :tag => tag.name }, :class => css_class %>
      <% end %>
    </div>
  </div>
</div>
