$phone-width: 768px;
$tablet-width: 992px;
$desktop-width: 1200px;

@media (min-width: $desktop-width) {
  .container {
      width: 1170px!important;
  }
}


@media (min-width: $tablet-width) {
  .container {
      width: 970px!important;
  }
}


@media (min-width: $phone-width) {
  .container {
      width: 860px!important;
  }
}
