.panel {
  .info {
    height: 40px;
    .tags {
      padding-top: 10px;
      padding-right: 10px;
    }
    time {
      padding-top: 10px;
      padding-left: 10px;
    }
  }
  .article-content {
    font-family: Roboto, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    padding: 10px 50px;
    h3 {
      border-bottom: 1px solid #eee;
    }
    img {
      width: 100%;
    }
  }

}
.article-content h1, .article-content h2, .article-content h3, .article-content h4, .article-content h5, .article-content h6 {
  margin: 1em 0 15px;
  padding: 0 0 2px 0;
  font-weight: bold;
  line-height: 1.7;
  cursor: text;
  position: relative;
}
.comment {
  padding: 10px 50px;
}

.pagination {
  width: 100%;
  text-align: center;

  a.previous_page {
    color: #5cb85c;
  }
  a.next_page {
    color: #5cb85c;
  }
  .previous_page {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 50px;
    line-height: 3rem;
    font-size: 2rem;
    float: left;
  }
  .next_page {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.82);
    border-radius: 50px;
    line-height: 3rem;
    font-size: 2rem;
    float: right;
  }
}
 // 编辑器
.editor {
}
