// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
form {

  .title-tag {
    margin: 0 6px;
    display: table;
    width: 100%;

    #post_title {
      display: table-cell;
      width: 67%;
      border-left: none;
    }

    #post_tag_list {
      display: table-cell;
      width: 25%;
    }
  }

  textarea {
    height: 500px;
    max-width: 98%;
    max-height: 95%;
    padding: 6px 10px;
    resize: none;
    font-family: 微软雅黑, 'Microsoft YaHei';
    &:focus {
      border-color: #317DDA;
      outline: 0;
    }
  }
  .actions {
    line-height: 5em;
    padding: 0px 10px;
    .btn {
      width: 15%;
      display: inline;
    }
  }
}

.posts {
  ul {
    width: 70%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    li {
      padding: 20px 0;
      border-bottom: 1px #eee dashed;
      a {
        color: black;
      }
      span {
        display: inline-block;
        float: right;
      }
      &:last-child {
        border: none;
      }
    }
  }
}

.entry-list {
  list-style: none;
  line-height: 25px;
  min-height: 50px;
  padding-left: 0;
  margin: 0 auto;

  font-family: Optima, "Helvetica Neue", sans-serif;
  .info {
    color: #7b7a7a;
    font-size: 1rem;
  }
  .entry-item {
    list-style: none;
    line-height: 25px;
    min-height: 50px;
    margin: 3rem 0;
  }

  .entry-meta {
    font-size: 12px;
    color: #999;
  }

  .detail {
    h2 {
      font-size: 24px;
      margin: 8px 0 12px;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.article {
  p {
    line-height: 1.8em;
  }

  img {
    width: 100%;
  }

  a {
    padding-bottom: 2px;
    border-bottom: 1px solid #999;
  }
  h2 {
    margin-top: 2em;
    //border-bottom: 1px solid #eee;
  }
}

.actions {
  text-align: center;
  padding-bottom: 20px;
  .btn {
    width: 90px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-size: 14px;
  }
}
