<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="contact">
        <a href="http://weibo.com/ripdent" class="fa fa-weibo" aria-hidden="true"></a>
        <a href="https://github.com/GuoJianghui" class="fa fa-github" aria-hidden="true"></a>
        <a href="https://www.facebook.com/ripdent" class="fa fa-facebook" aria-hidden="true"></a>
        <a href="mailto:ripdent@hotmail.com" class="fa fa-envelope" aria-hidden="true" rel="nofollow"></a>
      </div>
    </div>
  </div>
  <div class="copyright">
    © Copyright 2016 - <%= Time.now.year %> by Jianghui Guo.
  </div>
</footer>
