<footer class="footer">
  <div class="copyright" style="font-size: 16px;">
    <i class="fa fa-weibo" aria-hidden="true"></i>
    <i class="fa fa-github" aria-hidden="true"></i>
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <i class="fa fa-rss" aria-hidden="true"></i>
  </div>
  <div class="copyright">
    © Copyright 2016 - <%= Time.now.year %> by Jianghui Guo.
  </div>
</footer>
